mixin exercise(name, time, cals, img, link)
    a.exercise(href=link data-fancybox="exercises")
        .exercise__wrapper
            img.exercise__img(src=img alt=name)
            h3.exercise__name= name
            .exercise__time= time
        .exercise__calories= cals + ' est calories'